.App {
  text-align: center;
}
.cont-act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 200px 0 20px;
  padding: 10px 0;
  background-color: #8a2be2;
  color: #fff;
  -webkit-animation: up-down 0.5s linear infinite alternate forwards;
  animation: up-down 0.5s linear infinite alternate forwards;
}
.cont-act h2 {
  margin-left: 20px;
}
.btn-control button {
  width: 65px;
  outline: none;
  border: none;
  margin: 0 20px;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #8a2be2;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-control button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*Animation*/
@-webkit-keyframes up-down {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
}
@keyframes up-down {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
}
